## Q1: Write query to return the email, first name, last name, & Genre of all Rock Music listeners. Return your list ordered alphabetically by email starting with A.

In [3]:
#/*Method 1 */

'''SELECT DISTINCT email,first_name, last_name
FROM customer
JOIN invoice ON customer.customer_id = invoice.customer_id
JOIN invoiceline ON invoice.invoice_id = invoiceline.invoice_id
WHERE track_id IN(
	SELECT track_id FROM track
	JOIN genre ON track.genre_id = genre.genre_id
	WHERE genre.name LIKE 'Rock'
)
ORDER BY email;'''

#/* Method 2 */
'''SELECT DISTINCT email AS Email,first_name AS FirstName, last_name AS LastName, genre.name AS Name
FROM customer
JOIN invoice ON invoice.customer_id = customer.customer_id
JOIN invoiceline ON invoiceline.invoice_id = invoice.invoice_id
JOIN track ON track.track_id = invoiceline.track_id
JOIN genre ON genre.genre_id = track.genre_id
WHERE genre.name LIKE 'Rock'
ORDER BY email;'''

"SELECT DISTINCT email AS Email,first_name AS FirstName, last_name AS LastName, genre.name AS Name\nFROM customer\nJOIN invoice ON invoice.customer_id = customer.customer_id\nJOIN invoiceline ON invoiceline.invoice_id = invoice.invoice_id\nJOIN track ON track.track_id = invoiceline.track_id\nJOIN genre ON genre.genre_id = track.genre_id\nWHERE genre.name LIKE 'Rock'\nORDER BY email;"

## Q2: Let's invite the artists who have written the most rock music in our dataset. Write a query that returns the Artist name and total track count of the top 10 rock bands.

In [4]:
'''
SELECT artist.artist_id, artist.name,COUNT(artist.artist_id) AS number_of_songs
FROM track
JOIN album ON album.album_id = track.album_id
JOIN artist ON artist.artist_id = album.artist_id
JOIN genre ON genre.genre_id = track.genre_id
WHERE genre.name LIKE 'Rock'
GROUP BY artist.artist_id
ORDER BY number_of_songs DESC
LIMIT 10;
'''

"\nSELECT artist.artist_id, artist.name,COUNT(artist.artist_id) AS number_of_songs\nFROM track\nJOIN album ON album.album_id = track.album_id\nJOIN artist ON artist.artist_id = album.artist_id\nJOIN genre ON genre.genre_id = track.genre_id\nWHERE genre.name LIKE 'Rock'\nGROUP BY artist.artist_id\nORDER BY number_of_songs DESC\nLIMIT 10;\n"

## Q3: Return all the track names that have a song length longer than the average song length. Return the Name and Milliseconds for each track. Order by the song length with the longest songs listed first.

In [5]:
'''
SELECT name,miliseconds
FROM track
WHERE miliseconds > (
	SELECT AVG(miliseconds) AS avg_track_length
	FROM track )
ORDER BY miliseconds DESC;

'''

'\nSELECT name,miliseconds\nFROM track\nWHERE miliseconds > (\n\tSELECT AVG(miliseconds) AS avg_track_length\n\tFROM track )\nORDER BY miliseconds DESC;\n\n'