## Easy Questions

## Q1) Select everything from sales table

### select * from sales;

## Q2) Show SaleDate, Amount, Customers columns from sales table

### select SaleDate, Amount, Customers from sales;

## Q3) Add a calculated column "Amount / boxes"

### Select SaleDate, Amount, Boxes, Amount / boxes  from sales;

## Q4) Naming "Amount/boxes" as "Amount per box"

### Select SaleDate, Amount, Boxes, Amount / boxes as 'Amount per box'  from sales;

## Q5) Show data where sales amount > 10000

### 
select * from sales
where amount > 10000;

## Q6) Show sales data where amount is greater than 10,000 by descending order

### 
select * from sales
where amount > 10000
order by amount desc;

## Q7) Show sales data where geography is g1 by product ID & descending order of amounts

### 
select * from sales
where geoid='g1'
order by PID, Amount desc;

## Q8) Show data where amount is greater than 10000 & sales data >2022-01-01

### 
Select * from sales
where amount > 10000 and SaleDate >= '2022-01-01';

## Q9) Show the data with amount greater than 10000 & year 2022

### 
select SaleDate, Amount from sales
where amount > 10000 and year(SaleDate) = 2022
order by amount desc;

## Q10) Show data where number of boxes are greater than 0 & less than 50

### 
select * from sales
where boxes >0 and boxes <=50;

## Q11) show data from people table where team is either delish or jucies

### 
select * from people
where team = 'Delish' or team = 'Jucies';

## Q12) Select the data from people table where salesperson name starts with B

### 
select * from people
where salesperson like 'B%';

## INTERMEDIATE PROBLEMS:

## Q13) Print details of shipments (sales) where amounts are > 2,000 and boxes are <100?

### 
select * from sales where amount > 2000 and boxes < 100;

## Q14) How many shipments (sales) each of the sales persons had in the month of January 2022?

### 
select p.Salesperson, count(*) as ‘Shipment Count’
from sales s
join people p on s.spid = p.spid
where SaleDate between ‘2022-1-1’ and ‘2022-1-31’
group by p.Salesperson;

## Q15) Which product sells more boxes? Milk Bars or Eclairs?

### 
select pr.product, sum(boxes) as ‘Total Boxes’
from sales s
join products pr on s.pid = pr.pid
where pr.Product in (‘Milk Bars’, ‘Eclairs’)
group by pr.product;

## Q16) Which product sold more boxes in the first 7 days of February 2022? Milk Bars or Eclairs?

### 
select pr.product, sum(boxes) as ‘Total Boxes’
from sales s
join products pr on s.pid = pr.pid
where pr.Product in (‘Milk Bars’, ‘Eclairs’)
and s.saledate between ‘2022-2-1’ and ‘2022-2-7’
group by pr.product;

## Q17) Which shipments had under 100 customers & under 100 boxes? Did any of them occur on Wednesday?

### 
select * from sales
where customers < 100 and boxes < 100;

select *,
case when weekday(saledate)=2 then ‘Wednesday Shipment’
else ”
end as ‘W Shipment’
from sales
where customers < 100 and boxes < 100;

## HARD PROBLEMS:

## Q18) What are the names of salespersons who had at least one shipment (sale) in the first 7 days of January 2022?

### 
select distinct p.Salesperson
from sales s
join people p on p.spid = s.SPID
where s.SaleDate between ‘2022-01-01’ and ‘2022-01-07’;

## Q19) Which salespersons did not make any shipments in the first 7 days of January 2022?

### 
select p.salesperson
from people p
where p.spid not in
(select distinct s.spid from sales s where s.SaleDate between ‘2022-01-01’ and ‘2022-01-07’);

## Q20) How many times we shipped more than 1,000 boxes in each month?

### 
select year(saledate) ‘Year’, month(saledate) ‘Month’, count(*) ‘Times we shipped 1k boxes’
from sales
where boxes>1000
group by year(saledate), month(saledate)
order by year(saledate), month(saledate);

## Q21)  India or Australia? Who buys more chocolate boxes on a monthly basis?

### 
select year(saledate) ‘Year’, month(saledate) ‘Month’,
sum(CASE WHEN g.geo=’India’ = 1 THEN boxes ELSE 0 END) ‘India Boxes’,
sum(CASE WHEN g.geo=’Australia’ = 1 THEN boxes ELSE 0 END) ‘Australia Boxes’
from sales s
join geo g on g.GeoID=s.GeoID
group by year(saledate), month(saledate)
order by year(saledate), month(saledate);